<!-- Delete Post with ID <%= post.id %> with confirmation -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/content.css">

    <title>Delete Post - <%= post.title %></title>
  
  </head>
  <body>
    <% include /partials/header.ejs %>
    
    <main class="container">
    <h1>Delete Post</h1>
    <p>Are you sure you want to delete this post?<%= post.title %>?</p>
    
    <form action="/delete/<%= post.id %>?_method=DELETE" method="POST">
      <button type="submit">Yes, Delete</button>
      <a href="/posts/<%= post.id %>">No, Go Back</a>
    </form>
    <% include /partials/footer.ejs %>
  </body>
</html>
 